body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom, #ffe6f0, #fff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 40px;
  color: #ff4d88;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 16px;
  color: #444;
  margin-bottom: 25px;
}

.bouquet {
  position: relative;
  width: 320px;
  height: 420px;
  margin: auto;
  background: #fff0f7;
  border-radius: 50% 50% 30% 30%;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
  overflow: visible;
}

/* FOTO */
.photo-frame {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 8px solid white;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
  overflow: hidden;
  z-index: 10;
}

.photo-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BUNGA LILY */
.lily {
  position: absolute;
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
  box-shadow: inset -8px -8px 0px rgba(255, 200, 220, 0.3);
  z-index: 5;
  border: 2 solid #ff7fb0;
}

.lily::before, .lily::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
  top: 0;
  left: 0;
  border: 2px solid #ff7fb0;
}

.lily::before {
  transform: rotate(30deg);
}

.lily::after {
  transform: rotate(-30deg);
}

.lily1 { top: 40px; left: 30px; }
.lily2 { top: 20px; right: 40px; }
.lily3 { top: 60px; left: 120px; }
.lily4 { top: 150px; left: 10px; }
.lily5 { top: 150px; right: 10px; }

/* DAUN */
.leaf {
  position: absolute;
  width: 90px;
  height: 50px;
  background: #3cb371;
  border-radius: 50px;
  transform: rotate(-30deg);
  opacity: 0.8;
}

.leaf1 {
  bottom: 90px;
  left: 40px;
}

.leaf2 {
  bottom: 90px;
  right: 40px;
  transform: rotate(30deg);
}

/* PITA */
.ribbon {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  height: 60px;
  background: #ff4d88;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0,0,0,0.2);
}

.ribbon::before, .ribbon::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 60px;
  background: #ff66a3;
  border-radius: 50%;
  top: 0;
}

.ribbon::before {
  left: -35px;
}

.ribbon::after {
  right: -35px;
}

/* TEXT BAWAH */
.love-text {
  margin-top: 20px;
  font-size: 18px;
  color: #ff4d88;
  font-weight: bold;
}
